# env / packaging
myenv/
wheels/
# bytecode stuffs
__pycache__/
*.py[cod]

# jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/pipeline_google_reviews.ipynb
/Venue-Accessibility-Google-Reviews.code-workspace

# other
.idea/*



# Data
datasets/EuansGuideData.xlsx
datasets/GoogleReviews
/datasets/google_reviews.csv
/datasets/euans_reviews.csv
datasets/labelling data
datasets/test data
datasets/training data
data/raw/test/GoogleReviews
data/raw/train/EuansGuideData.xlsx